target/
!.mvn/wrapper/maven-wrapper.jar

nohup.out

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

src/main/resources/application.properties
*/src/main/generated
src/main/java/it/introsoft/banker/MyTermDepositHistory.java

node
node_modules