<div class="widgets">
    <div class="row">
        <div class="col-md-12" ba-panel>
            <div class="modal-buttons clearfix">
                <button type="button" class="btn btn-primary" data-toggle="modal" ng-click="openAddAccount()">
                    Add account
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-4"
             ba-panel
             ba-panel-title="{{ ::account.formattedNumber }}"
             ng-repeat="account in accounts">
            <div class="panel-body">
                <span>Balance {{ ::account.currentBalance/1000 }} PLN</span></br></br>
                <div>
                    <button type="button" class="btn btn-primary" ng-click="openReport(account.number)">
                        Last year report
                    </button>
                    &nbsp&nbsp
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                            ng-click="openCustomAccountReport(account.number)">
                        Custom report
                    </button>
                    &nbsp&nbsp
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                            ng-click="recalculateBalance(account.number)">
                        Recalculate balance
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>